/* Styling for general ids/classes */
* {
    box-sizing: border-box;
}

html,
body,
button {
    background-color: #e0d3df;
    font-family: Verdana, sans-serif, sans-serif, sans-serif;
}

.page {
    margin: 50px;
    flex: 0 1;
    text-align: center;
}

.img {
    padding: 4px;
    border-radius: 1px;
    margin-bottom: 4px;
    height: auto;
    max-width: 100%;
}

/* Page: WELCOME */
#welcome {
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

/* Page: OTHER */
#cat-gifs {
    text-align: center;
    width: 50%;
    display: flex;
}

.row {
    padding: 1px;
    border-radius: 10px;
    margin-bottom: 2px;
}

.answer {
    margin-left: auto;
    margin-right: auto;
    /* padding-left: auto; */
    width: 70%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: purple;
}

.answer:hover {
    cursor: pointer;
}

#answer-text {
    text-align: center;
    color: pink;
    margin: auto;
}

#clear-joke-text {
    text-align: center;
    color: purple;
}

/* Styling to add text layer over gifs/images with hover 
   reference: https://stackoverflow.com/questions/53197474/text-transition-on-hover-image;
              https://www.w3schools.com/howto/howto_css_image_overlay_slide.asp  */
.img__wrap {
    position: relative;
    display: inline-block;
    padding: 1px;
    border-radius: 1px;
    margin-bottom: 1px;
    flex: 1 0 50%;
}

.img__description_layer {
    position: absolute;
    top: 5;
    left: 5;
    right: 5;
    background: rgba(160, 41, 209, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img__wrap:hover .img__description_layer,
.active {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    padding: 10px 20px;
}

.img__description {
    transition: .5s;
    transform: translateY(1em);
    text-align: center;
    font-size: 95%;
}

.img__wrap:hover .img__description {
    transform: translateY(0);
}

/* Styling for zoom lens in images */
.img-magnifier-container {
    position: relative;
    display: inline-block;
    padding: 10px;
    border-radius: 1px;
    margin-bottom: 1px;
    flex: 100%;
}

.img-magnifier-glass {
    position: absolute;
    border: 3px solid purple;
    border-radius: 50%;
    cursor: pointer;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
}

/* Styling for gallery */
.gallery_row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
#gallery_Header {
    text-align: right;
    font-size: 80%;
}

.gallery_col {
    -ms-flex: 50%;
    flex: 50%;
    padding: 0 4px;
}

.gallery_col img {
    margin-top: 8px;
    vertical-align: middle;
}

.gallery_btn {
    border: none;
    outline: none;
    padding: 5px 10px;
    background-color: rgb(167, 155, 167);
    cursor: pointer;
    color: white;
}

.gallery_btn:hover {
    background-color: rgb(189, 74, 189);
}

.gallery_btn.gallery_active {
    background-color: purple;
    color: white;
}

/* Create buttons for pages */
#page_Header {
    text-align: center;

}

.page_btn {
    border: none;
    outline: none;
    padding: 15px 80px;
    background-color: #e0d3df;
    cursor: pointer;
    font-size: 100%;
}

.page_btn:hover {
    background-color: rgb(233, 247, 200);
    border: 40px rgb(201, 247, 94);
    border-radius: 50%;
}

.page_btn.page_active {
    background-color: rgb(201, 247, 94);
    border-radius: 50%;
    color: black;
}